
header{
    background-color: white;
    color: purple;
    
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}


img{
    width: 400px;
    height: auto;
}

        body{
            background-color: grey;
            
        }
        #home3{
            background-color: black;
            color: white;
            border: none;
            border-radius: 6px;
            cursor: pointer;
    
  }


    body{
            background-color: gray;
        }

        body{
            background-color: grey;

        }

        
            body{
                background-color: grey;
            }
            
            .Product{
                width: 200px;
                height: 300px;
                display: flex;
                justify-content: space-evenly;
                
            }
            h1{
                text-align: center;
                font-style: italic;
            }
           
           .buynow:hover {
            background-color: black;
            color: white;
           }
           .product img{
            justify-content: space-around;
            padding-right: 20px;
           }
           .productimg1{
            padding-right: 20px;
           }
           .productimg2{
            padding-right: 20px;
           }
           .productimg3{
            padding-right: 20px;
           }
           .productimg4{
            padding-right: 20px;
           }

            body{
            background-color: grey;
            
        }
        #home3{
            background-color: black;
            color: white;
            border: none;
            border-radius: 6px;
            cursor: pointer;
    

        }
       
         body{
            background-color: grey;
            
        }
        #home3{
            background-color: black;
            color: white;
            border: none;
            border-radius: 6px;
            cursor: pointer;
    

        }
       